My Clear View Point:
(1) Based on message from its_kartik on Sep 13, 7:21 PM:
Leave the Landing Page Blank … just Label it Document Center … and leave entire page for me to enter information about the organization.
EULA page must be accepted by the USER … then takes the USER to the Membership page …  before Membership is granted.
Membership page allows USERS to join with one of many different types of memberships. And more types can be added (if necessary).
Users can UPLOAD docs to the non-SECURE DB to be associated with the type of membership they have.
Users can DOWNLOAD docs to the non-SECURE DB to be associated with the type of membership they have.
Browse Page allows anyone who signs in to view all docs to be associated with the type of membership they have. (from the non-SECURE DB) of the same Type permission as they have in the Membership DB.
The BID DB is separate from the Browse DB and is SECURE … BIDS only associated with the type of membership they have ... same as the UPLOAD\DOWNLOAD\BROWSE rule … (in other words it is separate from the regular DB and USERS cannot see the BID amounts).
MyACtivity page shows all activity for the USER to date.
(2) Based on message from its_kartik on Sep 12, 9:29 PM:
I will develop a full stack website with python django $250
Membership ---> Can upload docs ---> One type can bid on one type otherwise they will get prompt ---> Docs will be open on one page they will get option to bid

that's all and if I forgot anything don't worry I woll give you all :)
