{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
    <script>
        $('.docs').addClass('active');
    </script>
    <!-- Upload Docs -->
    <div id="upload_doc_con" class="col-md-12 mx-auto text-center" style="position: fixed; z-index: 2000; display: none;">
        <div class="col-md-3 mx-auto text-center bg_wheat" style="padding: 15px; border-radius: 10px;">
            <form enctype="multipart/form-data" action="{% url 'upload_docs' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="document" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="doc_name" class="form-control" placeholder="Document Title">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
    <!-- Upload Docs -->
    <div id="docs" class="container mx-auto text-center" style="margin: 10px 0px 80px 0px;">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h1>Docs</h1>
            </div>
        </div>
        <div class="col-md-12 mx-auto text-center">
            <button onclick="fetch_my_docs();" class="my_docs btn btn-dark">My Docs</button>
            {% csrf_token %}
            <button onclick="fadein('#upload_doc_con');" class="upload_docs btn btn-dark">Upload</button>
        </div>
        <bR><Br>
        <!-- My Docs -->
        <div id="my_docs" class="row">
        </div>
        <hr style="background: wheat;">
        <!-- My Docs -->
        <bR><br>
        <!-- All Docs -->
        <div class="row">
        {% for d in docs %}
        <div class="docs bg_wheat mx-auto text-center" style="width: 200px; padding: 20px; margin: 10px;">
            <i style="font-size: 3rem;" class="fas fa-file">
            </i><br>
            <a style="color: black;" href="{% url 'doc_view' pk=d.doc_id %}"><h3 style="font-weight: 700;">{{ d.doc_name }}</h3></a>
        </div>
        {% endfor %}
        </div>
        <!-- All Docs -->
    </div>
    <Script>
        function fetch_my_docs(){
            $.ajax({
                method: 'POST',
                url: "{% url 'docs' %}",
                data: {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()},
                success: function(data){
                    show('#my_docs');
                    for(var i = 0; i < data.length; i++){
                        $('#my_docs').append(
                        '<div class="docs bg_wheat mx-auto text-center" style="width: 200px; padding: 20px; margin: 10px;"><i style="font-size: 3rem;" class="fas fa-file"></i>'+
                        '<br><h3 style="font-weight: 700;">'+data[i]['fields']['doc_name']+'</h3></div>')
                    };
                },
                error: function(data){
                    alert('Some Unknown Error Occured !!!');
                },
            });
        }
    </Script>
    <div class="text" style="padding: 10px; margin-top: 170px;">
        <textarea name="" class="form-control" placeholder="Click to add text" id="" cols="30" rows="10"></textarea>
    </div>
{% else %}
    <div id="mustlogin" class="container mx-auto text-center" style="margin: 150px 0px 80px 0px;">
        <div class="col-md-6 mx-auto text-center">
            <h1>You must logged in to access homepage</h1>
        </div>
    </div>
    <style>
        #contacts, .menus{
            display: none;
        }
    </style>
{% endif %}
{% endblock %}