{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
    <script>
        $('.membership').addClass('active');
    </script>
    <div id="home" class="container mx-auto text-center" style="margin: 10px 0px 80px 0px;">
        <div class="row">
            <div class="col-md-9 mx-auto text-center .col-md-pull-12">
                <h1>Membership</h1>
            </div>
        </div>
        <div id="plans" class="container mx-auto text-center" style="margin-top: 50px;">
            <div class="row  mx-auto text-center">
                {% for t in types %}
                <div class="plan bg_wheat  mx-auto text-center" style="width: 200px; padding: 20px; margin: 10px;">
                    <h3 style="font-weight: 700;">Type {{ t.type_name }}</h3>
                    <br>
                    <form action="{% url 'membership' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" style="display: none;" value="{{ t.type_id }}" name="type_id">
                        </div>
                        <button onclick="type_selected('{{ t.type_name }}');" class="selected_agreement btn btn-dark">Select</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function type_selected(){

        }
    </script>
    <!-- <div class="text" style="padding: 10px; margin-top: 170px;">
        <textarea name="" class="form-control" placeholder="Click to add text" id="" cols="30" rows="10"></textarea>
    </div> -->
{% else %}
    <div id="mustlogin" class="container mx-auto text-center" style="margin: 150px 0px 80px 0px;">
        <div class="col-md-6 mx-auto text-center">
            <h1>You must logged in to access homepage</h1>
        </div>
    </div>
    <style>
        #contacts, .menus{
            display: none;
        }
    </style>
{% endif %}
{% endblock %}